Importing all essential libraries

In [1]:
#Importing all libraries
import pandas as pd
import sqlite3
import numpy as np
import pickle as pickle
import subprocess
import io
from sklearn.decomposition import PCA
from itertools import repeat


#Optional Libraries
#from gensim.models import word2vec
#import gensim.downloader as api
#from gensim.models import KeyedVectors


#Glove pretrained word embeddings: https://nlp.stanford.edu/projects/glove/

In [ ]:
#Connect your drive as file system (If you have your files on drive)
from google.colab import drive
drive.mount('/content/drive')

Word Embeddings part
(Pre-trained embeddings used: Glove)

---


Reducing the vector dimensions using PCA

In [ ]:
#Reducing Glove word embeddings from 50 to 10 dimensions
Glove = {}
with io.open('/content/drive/My Drive/NLP_Data/glove.6B.50d.txt', encoding='utf8') as f:
#f = open('/content/drive/mydrive/glove.6B.50d.txt')

    print("Loading Glove vectors.")
    for line in f:
        values = line.split()
        word = values[0]
        coefs = np.asarray(values[1:], dtype='float32')
        Glove[word] = coefs
    f.close()

    print("Done.")
    X_train = []
    X_train_names = []
    for x in Glove:
            X_train.append(Glove[x])
            X_train_names.append(x)

    X_train = np.asarray(X_train)
    pca_embeddings = {}

# PCA to get Top Components
    pca =  PCA(n_components = 50)
    X_train = X_train - np.mean(X_train)
    X_fit = pca.fit_transform(X_train)
    U1 = pca.components_

    z = []

# Removing Projections on Top Components
    for i, x in enumerate(X_train):
	    for u in U1[0:7]:        
        	    x = x - np.dot(u.transpose(),x) * u 
	    z.append(x)

    z = np.asarray(z)

# PCA Dim Reduction
    pca =  PCA(n_components = 10)
    X_train = z - np.mean(z)
    X_new_final = pca.fit_transform(X_train)


# PCA to do Post-Processing Again
    pca =  PCA(n_components = 10)
    X_new = X_new_final - np.mean(X_new_final)
    X_new = pca.fit_transform(X_new)
    Ufit = pca.components_

    X_new_final = X_new_final - np.mean(X_new_final)

    final_pca_embeddings = {}
    embedding_file = open('/content/drive/My Drive/NLP_Data/pca_embed2.txt', 'w')

    for i, x in enumerate(X_train_names):
      final_pca_embeddings[x] = X_new_final[i]
      embedding_file.write("%s\t" % x)
      for u in Ufit[0:7]:
        final_pca_embeddings[x] = final_pca_embeddings[x] - np.dot(u.transpose(),final_pca_embeddings[x]) * u 

      for t in final_pca_embeddings[x]:
        embedding_file.write("%f\t" % t)
        
      embedding_file.write("\n")


    print("Reduced the dimensionality of the vector to 10 dimensions! \nPlease check pca_embed2.txt file")

Loading Glove vectors.
Done.
Reduced the dimensionality of the vector to 10 dimensions!
Please check pca_embed2.txt file

In [2]:
#Function to get 10 dimensional vector from txt file
def get_vector(given_word):
  Glove = {}
  with io.open('/content/drive/My Drive/NLP_Data/pca_embed2.txt', encoding='utf8') as f:
  #f = open('/content/drive/My Drive/NLP_Data/pca_embed2.txt')

      #print("Loading Glove vectors.")
      for line in f:
          values = line.split()
          word = values[0]
          if word == given_word:
            coefs = np.asarray(values[1:], dtype='float32')
            given_word_vector = coefs
            break
  f.close()
  return given_word_vector

In [3]:
#Getting Vectors for available posts
engineer_vector = get_vector('engineer')
manager_vector = get_vector('manager')
developer_vector = get_vector('developer')
ceo_vector = get_vector('ceo')
cto_vector = get_vector('cto')
coo_vector = get_vector('coo')
waiter_vector = get_vector('waiter')

#Getting Vectors for available cities
victoria_vector = get_vector('victoria')
vancouver_vector = get_vector('vancouver')
delhi_vector = get_vector('delhi')
pune_vector = get_vector('pune')
ottawa_vector = get_vector('ottawa')
toronto_vector = get_vector('toronto')
mumbai_vector = get_vector('mumbai')

#Stored these vectors in CSV Files
#File names:
#1. table1_name_post_city.csv
#2. table2_vectors_for_post_city.csv
#3. table3_vectors_for_posts.csv
#4. table4_vectors_for_cities.csv

In [4]:
#Defining Cosine Similarity Function
def cos_sim(a, b):
    """Takes 2 vectors a, b and returns the cosine similarity according 
    to the definition of the dot product
    """
    dot_product = np.dot(a, b)
    norm_a = np.linalg.norm(a)
    norm_b = np.linalg.norm(b)
    return dot_product / (norm_a * norm_b)

#Testing the function
similarity = cos_sim(engineer_vector,developer_vector)
print("Similarity between Engineer and Developer:",similarity)

Similarity between Engineer and Developer: 0.79248005

Database creation part

---
1. Reading data with Pandas

In [5]:
#Opening & Reading CSV files into pandas dataframe

#Dataframe with Person name, Applicable Post and City
data = pd.read_csv (r'/content/drive/My Drive/NLP_Data/table1_name_post_city.csv')   
df1 = pd.DataFrame(data, columns= ['Name','pi1','pi2','pi3','pi4','pi5','pi6','pi7','pi8','pi9','pi10','ci1','ci2','ci3','ci4','ci5','ci6','ci7','ci8','ci9','ci10'])
#print(df1)

#Dataframe with Post Available and City
data = pd.read_csv (r'/content/drive/My Drive/NLP_Data/table2_vectors_for_post_city.csv')
df2 = pd.DataFrame(data, columns= ['pi1','pi2','pi3','pi4','pi5','pi6','pi7','pi8','pi9','pi10','ci1','ci2','ci3','ci4','ci5','ci6','ci7','ci8','ci9','ci10'])
#print(df2)

#Dataframe with Vectors for respective posts and post
data = pd.read_csv (r'/content/drive/My Drive/NLP_Data/table3_vectors_for_posts.csv')   
df3 = pd.DataFrame(data, columns= ['pi1','pi2','pi3','pi4','pi5','pi6','pi7','pi8','pi9','pi10','post'])
#print(df3)

#Dataframe with Vectors for respective cities and city
data = pd.read_csv (r'/content/drive/My Drive/NLP_Data/table4_vectors_for_cities.csv')   
df4 = pd.DataFrame(data, columns= ['ci1','ci2','ci3','ci4','ci5','ci6','ci7','ci8','ci9','ci10','city'])
#print(df4)

Database creation part

---
2. Creating Sqlite database

In [10]:
#Creating database
connection = sqlite3.connect("position_city_database_with_embeddings.db") 
crsr = connection.cursor() 

#Comment the table creation and insertion of data into the table if the database is already created once.

#Creating table1 with name, embeddings of post, and embeddings of city
crsr.execute('CREATE TABLE name_post_city (NAME nvarchar(50),pi1 float,pi2 float,pi3 float,pi4 float,pi5 float,pi6 float,pi7 float,pi8 float,pi9 float,pi10 float, ci1 float,ci2 float,ci3 float,ci4 float,ci5 float,ci6 float,ci7 float,ci8 float,ci9 float,ci10 float, FOREIGN KEY (ci1,ci2,ci3,ci4,ci5,ci6,ci7,ci8,ci9,ci10) REFERENCES em_city_name(ci1,ci2,ci3,ci4,ci5,ci6,ci7,ci8,ci9,ci10), FOREIGN KEY (pi1,pi2,pi3,pi4,pi5,pi6,pi7,pi8,pi9,pi10) REFERENCES em_post_city(pi1,pi2,pi3,pi4,pi5,pi6,pi7,pi8,pi9,pi10))')
df1.to_sql('name_post_city', connection, if_exists='replace', index = False)
crsr.execute('''SELECT * FROM name_post_city''')
print("Table 1: Name_Post_City Data")
for row in crsr.fetchall():
    print (row)

#Creating table2 with embeddings of post and embeddings of city
crsr.execute('CREATE TABLE post_city (ci1 float,ci2 float,ci3 float,ci4 float,ci5 float,ci6 float,ci7 float,ci8 float,ci9 float,ci10 float,post nvarchar(50), FOREIGN KEY (ci1,ci2,ci3,ci4,ci5,ci6,ci7,ci8,ci9,ci10) REFERENCES em_city_name(ci1,ci2,ci3,ci4,ci5,ci6,ci7,ci8,ci9,ci10))')
df2.to_sql('post_city', connection, if_exists='replace', index = False)
print("\nTable 2: Post_City Data")
crsr.execute('''SELECT * FROM post_city''')
for row in crsr.fetchall():
    print (row)

#Creating table3 with embeddings of post and name of posts
crsr.execute('CREATE TABLE em_post_name (pi1 float,pi2 float,pi3 float,pi4 float,pi5 float,pi6 float,pi7 float,pi8 float,pi9 float,pi10 float, post nvarchar(50), PRIMARY KEY(pi1,pi2,pi3,pi4,pi5,pi6,pi7,pi8,pi9,pi10))')
df3.to_sql('em_post_name', connection, if_exists='replace', index = False)
print("\nTable 3: Em_Post_Name Data")
crsr.execute('''SELECT * FROM em_post_name''')
for row in crsr.fetchall():
    print (row)

#Creating table4 with embeddings of city and name of cities
crsr.execute('CREATE TABLE em_city_name (ci1 float,ci2 float,ci3 float,ci4 float,ci5 float,ci6 float,ci7 float,ci8 float,ci9 float,ci10 float, city nvarchar(50), PRIMARY KEY(ci1,ci2,ci3,ci4,ci5,ci6,ci7,ci8,ci9,ci10))')
df4.to_sql('em_city_name', connection, if_exists='replace', index = False)
print("\nTable 4: Em_City_Name Data")
crsr.execute('''SELECT * FROM em_city_name''')
for row in crsr.fetchall():
    print (row)

connection.commit()

#Execute the following line to print all the SQL queries when executed
#connection.set_trace_callback(print)

#Incase you want to drop all tables:
#crsr.execute('DROP TABLE name_post_city')
#crsr.execute('DROP TABLE post_city')
#crsr.execute('DROP TABLE em_post_name')
#crsr.execute('DROP TABLE em_city_name')
#connection.commit()

Table 1: Name_Post_City Data
('Tom', 0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 0.0, 0.0, 1e-06, -1e-06, -7e-06, 5e-06, 1.2e-05, 0.457, 1.49, 1.24)
('Henry', 0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192)
('Bush', 0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192)
('Ram', 0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192)
('Bharat', 0.0, -2e-06, 2e-06, 0.0, -3e-06, 5e-06, 2.4e-05, 0.733, -0.16899999999999998, 1.06, 0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06)
('Laxman', 0.0, 0.0, -2e-06, 0.0, -1e-06, 6e-06, -2.2e-05, -0.736, 0.625, 0.428, 0.0, -1e-06, 0.0, 0.0, 0.0, 8e-06, -3e-06, -0.205, -0.23600000000000002, 0.95)
('Krishna', 0.0, -2e-06, 2e-06, 0.0, -1e-06, 8e-06, 1.2e-05, 0.28, -0.44, 1.17, 0.0, -1e-06, 0.0, 0.0, -2e-06, 9e-06, 1e-06, -0.0251, 0.397, 1.26)
('Josh', 0.0, -1e-06, 0.0, 0.0, 2e-06, 6e-06, -9e-06, -0.424, -0.6579999999999999, 0.485, 0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06)
('Jelly', 0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, -1e-06, 0.0, 0.0, -2e-06, 9e-06, 1e-06, -0.0251, 0.397, 1.26)
('Akash', 0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
('Ritul', 0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
('Rosie', 0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, -1e-06, 0.0, 0.0, -2e-06, 9e-06, 1e-06, -0.0251, 0.397, 1.26)
('Alexa', 0.0, -2e-06, 2e-06, 0.0, -3e-06, 5e-06, 2.4e-05, 0.733, -0.16899999999999998, 1.06, 0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192)
('Sita', 0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 0.0, 1e-06, 0.0, -1e-06, -5e-06, 0.0, 7e-06, 0.324, 1.28, 0.47200000000000003)
('Erik', 0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
('Deepika', 0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06)
('Jerry', 0.0, -1e-06, 0.0, 0.0, 2e-06, 6e-06, -9e-06, -0.424, -0.6579999999999999, 0.485, 0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192)
('Angelina', 0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
('Selena', 0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)

Table 2: Post_City Data
(0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 0.0, 0.0, 1e-06, -1e-06, -7e-06, 5e-06, 1.2e-05, 0.457, 1.49, 1.24)
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, 0.0, 1e-06, -1e-06, -7e-06, 5e-06, 1.2e-05, 0.457, 1.49, 1.24)
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, -1e-06, 0.0, 0.0, 0.0, 8e-06, -3e-06, -0.205, -0.23600000000000002, 0.95)
(0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 0.0, -1e-06, 0.0, 0.0, -2e-06, 9e-06, 1e-06, -0.0251, 0.397, 1.26)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
(0.0, -2e-06, 2e-06, 0.0, -3e-06, 5e-06, 2.4e-05, 0.733, -0.16899999999999998, 1.06, 0.0, 1e-06, 0.0, -1e-06, -5e-06, 0.0, 7e-06, 0.324, 1.28, 0.47200000000000003)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192)
(0.0, -1e-06, 0.0, 0.0, 2e-06, 6e-06, -9e-06, -0.424, -0.6579999999999999, 0.485, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, -1e-06, 0.0, 0.0, 0.0, 8e-06, -3e-06, -0.205, -0.23600000000000002, 0.95)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, -1e-06, 0.0, 0.0, 0.0, 8e-06, -3e-06, -0.205, -0.23600000000000002, 0.95)
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
(0.0, -2e-06, 2e-06, 0.0, -3e-06, 5e-06, 2.4e-05, 0.733, -0.16899999999999998, 1.06, 0.0, -1e-06, 0.0, 0.0, 0.0, 8e-06, -3e-06, -0.205, -0.23600000000000002, 0.95)
(0.0, -1e-06, 0.0, 0.0, 2e-06, 6e-06, -9e-06, -0.424, -0.6579999999999999, 0.485, 0.0, -1e-06, 0.0, 0.0, 0.0, 8e-06, -3e-06, -0.205, -0.23600000000000002, 0.95)
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, 1e-06, 0.0, -1e-06, -5e-06, 0.0, 7e-06, 0.324, 1.28, 0.47200000000000003)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179)
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192)
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 0.0, -1e-06, 0.0, 0.0, -2e-06, 9e-06, 1e-06, -0.0251, 0.397, 1.26)
(0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06)

Table 3: Em_Post_Name Data
(0.0, -1e-06, 1e-06, 0.0, -1e-06, 6e-06, 1.2e-05, 0.32, -0.31, 0.966, 'engineer')
(0.0, -1e-06, 1e-06, 0.0, -4e-06, 5e-06, 1.4999999999999999e-05, 0.478, 0.431, 1.07, 'developer')
(0.0, -1e-06, 0.0, 0.0, -1e-06, 1.1e-05, -4e-06, -0.252, 0.00328, 1.39, 'manager')
(0.0, -1e-06, 0.0, 0.0, 2e-06, 6e-06, -9e-06, -0.424, -0.6579999999999999, 0.485, 'coo')
(0.0, 0.0, -2e-06, 0.0, -1e-06, 6e-06, -2.2e-05, -0.736, 0.625, 0.428, 'cto')
(0.0, -2e-06, 2e-06, 0.0, -3e-06, 5e-06, 2.4e-05, 0.733, -0.16899999999999998, 1.06, 'ceo')
(0.0, -2e-06, 2e-06, 0.0, -1e-06, 8e-06, 1.2e-05, 0.28, -0.44, 1.17, 'waiter')

Table 4: Em_City_Name Data
(0.0, 0.0, 1e-06, -1e-06, -7e-06, 5e-06, 1.2e-05, 0.457, 1.49, 1.24, 'victoria')
(0.0, 1e-06, 0.0, -1e-06, -4e-06, -1e-06, 3e-06, 0.215, 1.22, 0.192, 'vancouver')
(0.0, -1e-06, 0.0, 0.0, -2e-06, 9e-06, 1e-06, -0.0251, 0.397, 1.26, 'mumbai')
(0.0, -2e-06, 1e-06, 0.0, 0.0, 8e-06, 2e-06, -0.0689, -0.315, 1.06, 'delhi')
(0.0, -1e-06, 0.0, 0.0, 0.0, 8e-06, -3e-06, -0.205, -0.23600000000000002, 0.95, 'pune')
(0.0, 1e-06, -1e-06, -1e-06, -2e-06, 1e-06, -1.1e-05, -0.301, 0.96, 0.179, 'ottawa')
(0.0, 1e-06, 0.0, -1e-06, -5e-06, 0.0, 7e-06, 0.324, 1.28, 0.47200000000000003, 'toronto')

Function for calculating cosine similarity on:

---
1. Posts (Engineer, Developer, etc)

In [7]:
connection = sqlite3.connect("position_city_database_with_embeddings.db") 
crsr = connection.cursor() 


def sel_func_post(q,threshold):
  crsr.execute("select pi1,pi2,pi3,pi4,pi5,pi6,pi7,pi8,pi9,pi10 from em_post_name where post ='%s'" %q)
  q_vect = crsr.fetchall()
  crsr.execute("select pi1,pi2,pi3,pi4,pi5,pi6,pi7,pi8,pi9,pi10,post from em_post_name")
  t_vect = crsr.fetchall()
  vect_t = [tuple(list(x)[0:10]) for x in t_vect] # Getting all vectors in em_post_name
  vect_names = [list(x).pop(-1) for x in t_vect] # Getting all the corresponding post names to the vectors
  #print(vect_t) # Used to print all vectors in em_post_name
  #print(vect_names) # Used to print all the corresponding posts to the vectors
  similarity_array = [cos_sim(q_vect, x)[0] for x in vect_t] # Getting similarity scores for all vectors in table
  #print(similarity_array) # Used to print similary between vectors
  a = np.array(similarity_array)
  index = np.where(a > threshold)[0] # Getting index of all the post which are having similar value > threshold
  #print(index) # Printing indexes 
  new_vect_t = [vect_t[x] for x in index] # Getting new vectors according to those indexes
  #print(new_vect_t) # Printing the new vector
  #print(list(np.array(vect_t)[index][0])) # Checking the element
  join_list = []
  for x in range(0,len(new_vect_t[0])):
    join_list.append(tuple([i[x] for i in new_vect_t])) # Joining the new vectors together in a list
  #print(join_list) # To print the join_list
  return join_list # Returning the join_list

# Executing the function

t = 0.85 # Defining threshold (You can change according to your requirements)
sel_func_post('ceo',t)

[(0.0, 0.0, 0.0, 0.0),
 (-1e-06, -1e-06, -2e-06, -2e-06),
 (1e-06, 1e-06, 2e-06, 2e-06),
 (0.0, 0.0, 0.0, 0.0),
 (-1e-06, -4e-06, -3e-06, -1e-06),
 (6e-06, 5e-06, 5e-06, 8e-06),
 (1.2e-05, 1.4999999999999999e-05, 2.4e-05, 1.2e-05),
 (0.32, 0.478, 0.733, 0.28),
 (-0.31, 0.431, -0.16899999999999998, -0.44),
 (0.966, 1.07, 1.06, 1.17)]

Function for calculating cosine similarity on:

---
2. Cities (Victoria, Pune, etc)

In [8]:
def sel_func_city(q,threshold):
  crsr.execute("select ci1,ci2,ci3,ci4,ci5,ci6,ci7,ci8,ci9,ci10 from em_city_name where city ='%s'" %q)
  q_vect = crsr.fetchall()
  crsr.execute("select ci1,ci2,ci3,ci4,ci5,ci6,ci7,ci8,ci9,ci10,city from em_city_name")
  t_vect = crsr.fetchall()
  vect_t = [tuple(list(x)[0:10]) for x in t_vect] # Getting all vectors in em_city_name
  vect_names = [list(x).pop(-1) for x in t_vect] # Getting all the corresponding city names to the vectors
  #print(vect_t) # Used to print all vectors in em_post_name
  #print(vect_names) # Used to print all the corresponding posts to the vectors
  similarity_array = [cos_sim(q_vect, x)[0] for x in vect_t] # Getting similarity scores for all vectors in table
  #print(similarity_array) # Used to print similary between vectors
  a = np.array(similarity_array) 
  index = np.where(a > threshold)[0] # Getting index of all the post which are having similar value > threshold
  #print(index) # Printing indexes 
  new_vect_t = [vect_t[x] for x in index] # Getting new vectors according to those indexes
  #print(new_vect_t) # Printing the new vector
  #print(list(np.array(vect_t)[index][0])) # Checking the element
  join_list = []
  for x in range(0,len(new_vect_t[0])):
    join_list.append(tuple([i[x] for i in new_vect_t]))  # Joining the new vectors together in a list
  #print(join_list) # To print the join_list
  return join_list # Returning the join_list

# Executing the function

t = 0.85 # Defining threshold (You can change according to your requirements)
sel_func_city('victoria',t)

[(0.0, 0.0, 0.0),
 (0.0, 1e-06, 1e-06),
 (1e-06, 0.0, 0.0),
 (-1e-06, -1e-06, -1e-06),
 (-7e-06, -4e-06, -5e-06),
 (5e-06, -1e-06, 0.0),
 (1.2e-05, 3e-06, 7e-06),
 (0.457, 0.215, 0.324),
 (1.49, 1.22, 1.28),
 (1.24, 0.192, 0.47200000000000003)]

Joining two tables according to word cosine similarities

---

In [9]:
connection = sqlite3.connect("position_city_database_with_embeddings.db") 
crsr = connection.cursor() 

def makeqmarks(i):
    return ', '.join(repeat('?', i))

#placeholder = '?'
#format_strings = ','.join(['%s'] * len(join_list[0]))

# ************* Getting Joined List *************

join_list = sel_func_city('victoria', 0.85) # Getting locations which having similarity score of more than .85 with 'Victoria'
#print(join_list)

# **************************

# ************* Join table query *************

query = 'SELECT b.name, d.post, c.city \
FROM em_post_name d, em_city_name c, post_city a \
INNER JOIN name_post_city b \
ON a.ci1 = b.ci1 AND \
a.ci2 = b.ci2 AND \
a.ci3 = b.ci3 AND \
a.ci4 = b.ci4 AND \
a.ci5 = b.ci5 AND \
a.ci6 = b.ci6 AND \
a.ci7 = b.ci7 AND \
a.ci8 = b.ci8 AND \
a.ci9 = b.ci9 AND \
a.ci10 = b.ci10 \
WHERE \
a.ci1 = c.ci1 AND \
a.ci2 = c.ci2 AND \
a.ci3 = c.ci3 AND \
a.ci4 = c.ci4 AND \
a.ci5 = c.ci5 AND \
a.ci6 = c.ci6 AND \
a.ci7 = c.ci7 AND \
a.ci8 = c.ci8 AND \
a.ci9 = c.ci9 AND \
a.ci10 = c.ci10 AND \
a.pi1 = d.pi1 AND \
a.pi2 = d.pi2 AND \
a.pi3 = d.pi3 AND \
a.pi4 = d.pi4 AND \
a.pi5 = d.pi5 AND \
a.pi6 = d.pi6 AND \
a.pi7 = d.pi7 AND \
a.pi8 = d.pi8 AND \
a.pi9 = d.pi9 AND \
a.pi10 = d.pi10 AND \
a.ci1 IN (%s) AND \
a.ci2 IN (%s) AND \
a.ci3 IN (%s) AND \
a.ci4 IN (%s) AND \
a.ci5 IN (%s) AND \
a.ci6 IN (%s) AND \
a.ci7 IN (%s) AND \
a.ci8 IN (%s) AND \
a.ci9 IN (%s) AND \
a.ci10 IN (%s);' \
% (makeqmarks(len(join_list[0])), makeqmarks(len(join_list[1])), makeqmarks(len(join_list[2])),makeqmarks(len(join_list[3])),makeqmarks(len(join_list[4])),makeqmarks(len(join_list[5])),makeqmarks(len(join_list[6])),makeqmarks(len(join_list[7])),makeqmarks(len(join_list[8])),makeqmarks(len(join_list[9])))
#print(join_list[0]) # To check the elements in 0th index

# **************************

# ************* Executing and Displaying the Query *************

crsr.execute(query, join_list[0] + join_list[1] + join_list[2] + join_list[3] + join_list[4] + join_list[5] + join_list[6] + join_list[7] + join_list[8] + join_list[9])
for row in crsr.fetchall():
    print (row)

# **************************

# Actual Generated Query
# SELECT b.name, c.city, d.post FROM em_city_name c, em_post_name d, post_city a INNER JOIN name_post_city b ON a.ci1 = b.ci1 AND a.ci2 = b.ci2 AND a.ci3 = b.ci3 AND a.ci4 = b.ci4 AND a.ci5 = b.ci5 AND a.ci6 = b.ci6 AND a.ci7 = b.ci7 AND a.ci8 = b.ci8 AND a.ci9 = b.ci9 AND a.ci10 = b.ci10 WHERE a.ci1 IN (0.0, 0.0, 0.0) AND a.ci2 IN (0.0, 1.0e-06, 1.0e-06) AND a.ci3 IN (1.0e-06, 0.0, 0.0) AND a.ci4 IN (-1.0e-06, -1.0e-06, -1.0e-06) AND a.ci5 IN (-7.0e-06, -4.0e-06, -5.0e-06) AND a.ci6 IN (5.0e-06, -1.0e-06, 0.0) AND a.ci7 IN (1.2e-05, 3.0e-06, 7.0e-06) AND a.ci8 IN (0.457, 0.215, 0.324) AND a.ci9 IN (1.49, 1.22, 1.28) AND a.ci10 IN (1.24, 0.192, 0.472);

('Tom', 'manager', 'victoria')
('Tom', 'developer', 'victoria')
('Sita', 'ceo', 'toronto')
('Alexa', 'engineer', 'vancouver')
('Bush', 'engineer', 'vancouver')
('Henry', 'engineer', 'vancouver')
('Jerry', 'engineer', 'vancouver')
('Ram', 'engineer', 'vancouver')
('Sita', 'developer', 'toronto')
('Alexa', 'developer', 'vancouver')
('Bush', 'developer', 'vancouver')
('Henry', 'developer', 'vancouver')
('Jerry', 'developer', 'vancouver')
('Ram', 'developer', 'vancouver')